.person-li {
    width: 100%;
    background: #0e101c;
    margin-top: 1rem;
}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
}

.card > div {
    padding-left: 1rem;
}

.card > div > h3 {
    margin: 0;
    width: 145px; 
    overflow: hidden;
}

.card > div > a {
    text-decoration: none;
    color: rgb(223, 223, 223);
    font-size: 1.2rem;
}
