.App {
  text-align: center;
  position: relative;
}

.App > h1 {
  height: 50px;
  color: aliceblue;
  background-color: #ec5990;
  margin: 0;
  font-weight: 200;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  padding-top: 0.5rem;
}
